/* write your override styles here */

#wall .tag-1 {
    display: inline;
    z-index: 10;
}

#wall #tag-2 {
    display: inline-block;
    z-index: 10;
    top: 10px;
    left: 15px;
}

#wall #tag-3 {
    display: none;
    top: 20px;
    left: 30px;
    z-index: 11;
}

#wall .parent #tag-4 {
    display: none;
}